@import constants

@import mixins

h1
	color: blue

.item-selected 
	background: coral

.price
	text-align: right

.price1
	background: pink

.price2
	background: lightgreen

.commodity-note
	color: red

.area-notes 
	height: !important 70px

.vip-caption
	font-size: 24px
	font-weight: bold
	color: purple

thead>tr>td 
	text-align: center

.commodity-select
	width: 400px

.commodity-note
	width: 400px

.commodity-quantity-input
	width: 50px

.consumers-div
	height: 400px
	overflow-y: scroll

.consumer-drag-div
	height: 50px
	width: 200px
	background: orange
	margin: 0 auto
	padding: 2px
	/*display: inline-block*/

.dropzone
	margin: 10px

.dropzone .itemlist
    min-height: 120px !important
	
.dropzone .itemlist > li
    background-color: lavender
    border: none
    border-radius: .25em
    color: #000
    float: left
    font-weight: 700
    height: 50px
    margin: 5px
    padding: 3px
    text-align: center
    width: 150px
    font-size: 12px

/*.flash-div
	position: absolute
	right: 40px
	top: 40px
	z-index: 10px
	border: 1px double crimson
	background: lavender
	color: #000
	-webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3)
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3)
	-webkit-border-radius: 5px
	border-radius: 5px
	text-align: center	*/